body{
    text-align: center;
    font-family: "Courier";
    color: rgb(92, 96, 92);
    font-size: 16px;
    margin: 0;
    padding: 0;

}
#contenedor
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin:0 auto;
}